.main-layout {
    display: flex;

    width: 100vw;
    min-height: 100vh;
}

.main-layout__sidebar {
    width: var(--sidebar-width);
    flex-shrink: 0;


}

.main-layout__content {
    flex: 1;


    background-color: var(--color-background);
    color: var(--color-text);

    padding: 40px;
}