.sidebar {
    display: flex;
    flex-direction: column;

    height: 100vh;

    color: var(--color-text);

    font-family: var(--font-rpg);
}

.sidebar__profile,
.sidebar__navigation,
.sidebar__footer {
    padding: 18px;
}

/* ---------------- */
/* PROFILE          */
/* ---------------- */


.sidebar__name {
    margin: 0;

    font-size: 36px;
    text-transform: uppercase;
}

.sidebar__job {
    margin-top: 5px;

    font-size: 20px;
    color: #b8c4df;
}

.sidebar__level {
    margin-top: 25px;

    font-size: 18px;
}

/* ---------------- */
/* STATS            */
/* ---------------- */

.sidebar__stats {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 15px;
}

.sidebar__stat {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar__stat span {
    width: 30px;
}

.sidebar__stat-bar {
    flex: 1;

    height: 8px;

    background-color: #080c20;
}

.sidebar__stat-fill {
    height: 100%;
}

.sidebar__stat-fill--hp {
    width: 5%;
    background-color: #65d46e;
}

.sidebar__stat-fill--mp {
    width: 1%;
    background-color: #5898ff;
}

.sidebar__experience {
    display: flex;
    align-items: center;

    gap: 10px;

    margin-top: 12px;
}

.sidebar__experience-bar {
    flex: 1;

    height: 8px;

    background-color: #050b25;

    border: 1px solid #526aa8;
}

.sidebar__experience-fill {
    height: 100%;

    background-color: #d8b45c;
}

/* ---------------- */
/* NAVIGATION       */
/* ---------------- */

.sidebar__navigation {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.sidebar__menu-item {
    width: 100%;
    padding: 10px 15px;

    border: none;

    background: transparent;
    color: white;

    text-align: left;
    font-size: 30px;

    cursor: pointer;
}

.sidebar__menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar__menu-item--active::before {
    content: "▶";
    margin-right: 10px;
}

/* ---------------- */
/* FOOTER           */
/* ---------------- */

.sidebar__footer {
    margin-top: auto;
}