.skills {
    width: 100%;
}

.skills__grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 20px;
}

.skills__category {
    padding: 15px;

    background-color: #101c4d;

    border: 1px solid #526aa8;
}

.skills__category-title {
    margin: 0 0 15px;

    color: #b8c4df;

    font-family: var(--font-rpg);
    font-size: 16px;
    font-weight: normal;

    text-transform: uppercase;
}

.skills__items {
    display: flex;
    flex-direction: column;

    font-family: var(--font-rpg);

    gap: 6px;
}

.skills__item {
    padding: 10px 12px;

    background-color: #07143f;

    border: 1px solid transparent;

    color: #d8e2ff;
}

.skills__item:hover {
    background-color: #182d6b;

    border-color: #526aa8;
}

.skills__item::before {
    content: "◆";

    margin-right: 10px;

    color: #8190b8;
}

.skills__item:hover::before {
    content: "▶";

    color: white;
}