:root {
    /* Fonts */
    --font-rpg: "Pixel Operator", monospace;
    --font-body: "IBM Plex Sans", sans-serif;

    /* Font sizes */
    --font-size-small: 14px;
    --font-size-body: 16px;

    --font-size-rpg: 18px;
    --font-size-rpg-large: 20px;
    --font-size-rpg-title: 24px;
}